@using Data.Entities
@using Data.Utilities
@model IList<Data.Entities.PoRequest>

@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
    ViewBag.Title = "Manage Requests";
}

@{
    var userSession = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
}
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionType = ExtensionType.CallbackPanel }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionType = ExtensionType.CallbackPanel },
    new Script { ExtensionType = ExtensionType.PopupControl }
    )

<script>
    var SettingCategory = function (s, e) {
        e.customArgs['categoryName'] = categoryName;
    }
</script>

<script type="text/javascript">
    function SelectionChanged(s, e) {
        s.GetSelectedFieldValues("PoRequestID", GetSelectedFieldValuesCallback);
    }

    function GetSelectedFieldValuesCallback(values) {
        $('#requestId').val(values);

        $("#count").html(gvRowSelection.GetSelectedRowCount());
    }


</script>

<link href="~/Content/SweetAlert/SweetAlert.css" rel="stylesheet" />
<script src="~/Scripts/app/sweetalert.min.js"></script>
<script src="~/Scripts/app/sweetalert.js"></script>

<link href="~/Content/Staff/PoRequests.css" rel="stylesheet" />

<button id="test">test</button>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Requests For Using Asset</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="text">
                        <a class="btn btn-app" onclick="createOrder()">
                            <span class="badge bg-red"><strong id="count">0</strong></span>
                            <i class="fa fa-inbox"></i> Orders
                        </a>
                        &nbsp;
                        <a id="orderMessage"></a>
                        <input type="hidden" id="requestId" />
                    </div>
                    @Html.Partial("_PoRequestsPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<div id="assignPopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Assign Asset</h4>
                </div>
                <div class="modal-body">
                    <form class='form-horizontal form-label-left input_mask' id="formAssign">

                        <input type='hidden' class='form-control' readonly id='poRequestId'>
                        <input type='hidden' class='form-control' readonly id='employeeId'>

                        <input type='hidden' class='form-control' readonly id='staffAssignId' value='@userSession.EmployeeID'>
                        <div class='form-group'>
                            <label class='control-label col-md-3 col-sm-3 col-xs-12'>Employee Name: </label>
                            <div class='col-md-8 col-sm-9 col-xs-12'>
                                <input type='text' class='form-control has-feedback-left' readonly id='employeeName'>
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='control-label col-md-3 col-sm-3 col-xs-12'>Select asset:<span class="required">*</span> </label>
                            <div class='col-md-8 col-sm-9 col-xs-12'>
                                @Html.Action("LoadAssetCbb", "Staff", new { categoryName = "Chair" })
                            </div>
                        </div>

                        <div class='form-group'>
                            <div class="col-md-8 col-md-offset-3">
                                <a id="assetMessage"></a>
                            </div>
                        </div>

                        <div class='ln_solid'></div>

                        <div class='form-group'>
                            <div class='col-md-8 col-sm-9 col-xs-12 col-md-offset-4'>
                                <button type='button' class='btn btn-round btn-success' id='btnAssign'>Assign</button>
                                <button type='button' class='btn btn-round btn-default' data-dismiss="modal" id='btnCancel'>Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="quotePopup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog ">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Refer Quote</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-label-left" id="formQuote" enctype="multipart/form-data">

                            <input type="hidden" id="poRequestId2">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Image: <span class="required">*</span></label>
                                <div class="col-md-7 col-sm-9 col-xs-9">
                                    <input type="file" class="form-control has-feedback-left" id="image" required="required">
                                    <span class="fa fa-file-picture-o  form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3 ">Product Name: <span class="required">*</span></label>
                                <div class="col-md-7 col-sm-9 col-xs-9">
                                    <input type="text" class="form-control has-feedback-left" id="productName" maxlength="50" required="required">

                                    <span class="fa fa-desktop form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Brand: </label>
                                <div class="col-md-7 col-sm-9 col-xs-9">
                                    <input type="text" class="form-control has-feedback-left" id="brand" maxlength="50">
                                    <span class="fa fa-square form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Select Vendor:<span class="required">*</span></label>
                                <div class="col-md-7 col-sm-9 col-xs-9">
                                    <select class="form-control" id="vendor">
                                        <option>Choose vendor</option>
                                        <option>Hoa Phat</option>
                                        <option>Phi Long</option>
                                        <option>Phong Vu</option>
                                        <option>Xuan Vinh</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Price: <span class="required">*</span></label>
                                <div class="col-md-7 col-sm-9 col-xs-9">
                                    <input type="number" class="form-control has-feedback-left" id="price" maxlength="50">
                                    <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Warranty: </label>
                                <div class="col-md-7 col-sm-9 col-xs-9">
                                    <input type="number" class="form-control has-feedback-left" id="warranty" maxlength="50">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>


                            <div class="col-md-9 col-md-offset-3">
                                <p id="quoteMessage"></p>
                            </div>
                            <br>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-4">
                                    <button type="button" class="btn btn-round btn-success" id="btnSubmit">Submit</button>
                                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal" id="btnSubmit22">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/PoRequests.js"></script>

<script src="~/Scripts/Autocomplete/jquery.autocomplete.min.js"></script>
<script src="~/Scripts/Autocomplete/jquery.autocomplete.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<link href="~/Scripts/Autocomplete/jquery-ui.css" rel="stylesheet" />

<script>
    $("#productName").autocomplete({
        source: function (request, response) {
            $.ajax({
                secureJSON: false,
                url: '/Staff/GetProducts',
                type: "POST",
                data: { productName: request.term },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                value: item.value,
                                label: item.label,
                                brand: item.brand,
                                image: item.image
                            };
                        }));
                },
                error: function (status) {
                    alert(status);
                }
            });
        },
        select: function (even, ui) {
            $("#brand").val(ui.item.brand);
        }
    });
</script>
