@using Data.Entities
@using Data.Utilities
@model  IList<Data.Entities.Asset>
@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@*@{
    var userSession = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
}*@
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

<link href="~/Content/PORequest/PORequest.css" rel="stylesheet" />

<script type="text/javascript">
    function OnSelectedCountryChanged() {
        GridView.GetEditor("ProductName").PerformCallback();
    }
    function CityComboBox_BeginCallback(s, e) {
        e.customArgs["CategoryName"] = GridView.GetEditor("CategoryName").GetValue();
    }
</script>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Asset Request</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left">
                        <span id="message"></span>
                        <span class="" style="padding-left: 9px" id="errorMessage"></span>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3 ">Full Name: </label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @*<input type="text" class="form-control has-feedback-left" value="@userSession.FullName" readonly="readonly">*@
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email: </label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @*<input type="text" class="form-control has-feedback-left" value="@userSession.Email" readonly="readonly">*@
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Device:<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.Action("LoadDataCbbProduct")
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Description: </label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                <textarea id="description" class="form-control" data-parsley-maxlength="200"></textarea>
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-7 col-md-offset-4">
                                <button type="button" class="btn btn-round btn-success" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-round btn-default" id="btnCancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function() {
            doAssetRequest();
        });
        $("#btnCancel").click(function() {
            $("#errorMessage").html("Please Try again!");
        });
    });

    function doAssetRequest() {

        var productId = ComboBoxProduct.GetValue();
        if (productId === null) {
            $("#message").html("Please, select a device !");
        }

        @*$.ajax({
            type: 'Post',
            //url: "/PORequest/HandlePoRequest?productId=" + productId + "&employeeId=" + @userSession.EmployeeID + "&description=" + $("#description").val(),
            dataType: 'json',
            success: function (data) {

                if (data.status === "Success") {
                    $("#errorMessage").html("Your asset request has been sent successfully!");
                }
                else {
                    $("#errorMessage").html("Please Try again!");
                }
            }
        });*@
    }
</script>