@model Data.Entities.Asset
<table class="table table-bordered" id="concac">
    <div>
        <tbody>
        <tr>
            <th colspan="5" style="text-align: center; background-color: #009688; color:white">Owner Details</th>
        </tr>
        <tr>
            <td rowspan="4" style="width: 99px">
                @Html.DevExpress().Image(settings =>
                {
                    settings.ImageUrl = "/Image/" + @Model.EmployeeImage;
                    settings.Width = 99;
                    settings.Height = 120;
                    settings.ControlStyle.CssClass = "image";
                    settings.Properties.EnableClientSideAPI = true;
                }).GetHtml()
            </td>

        </tr>
        <tr>
            <th>Full Name</td>
            <td colspan="3" style="text-align: center">
                @Model.EmployeeName
            </td>
        </tr>
        <tr>
            <th>Job</th>
            <td>
                @Model.EmployeeJob
            </td>
            <th>BirthDate</th>
            <td>
                @Model.EmployeeBirthdate
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                @Model.EmployeePhone
            </td>
            <th>Email</th>
            <td>
                @Model.EmployeeEmail
            </td>
        </tr>
        </tbody>
    </div>
  
</table>

