
@using DevExpress.XtraExport.Helpers
@model  IList<Data.Entities.Asset>

@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionType = ExtensionType.PopupControl }
    )

<script src="~/Scripts/app/manage-asset.js"></script>
<link href="~/Content/ManageAsset/manage-asset.css" rel="stylesheet" />


@Html.Partial("_AssetsInUsePartial", Model);


@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "RecallPopup";
        settings.Width = 440;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Recall Asset";
        settings.Modal = true;
        settings.AutoUpdatePosition = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write(
            "<form class='form-horizontal form-label-left input_mask'>"+
                "<input type='hidden' class='form-control' readonly id='assetId'>" +
               //  "<input type='hidden' class='form-control' readonly id='staffRecall' value='@userSession.FullName'>" +

                "<div class='form-group'>"+
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Barcode: </label>" +
                    "<div class='col-md-8 col-sm-9 col-xs-12'>" +
                    "<input type='text' class='form-control' readonly id='barcode'>" +
                    "</div>"+
                "</div>"+

                "<div class='form-group'>"+
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Asset Name: </label>"+
                    "<div class='col-md-8 col-sm-9 col-xs-12'>"+
                    "<input type='text' class='form-control' readonly id='assetName'>" +
                    "</div>"+
                "</div>"+

                "<div class='form-group'>"+
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Retrieve from : </label>"+
                    "<div class='col-md-8 col-sm-9 col-xs-12'>"+
                    "<input type='text' class='form-control' readonly id='employeeName'>" +
                    "</div>"+
                "</div>"+

                "<div class='form-group'>"+
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Remark: </label>" +
                    "<div class='col-md-8 col-sm-9 col-xs-12'>"+
                    "<textarea class='form-control' id='recallRemark'></textarea>" +
                    "</div>"+
                "</div>"+

                "<div class='ln_solid'></div>"+
                "<div class='form-group'>"+
                    "<div class='col-md-8 col-sm-9 col-xs-12 col-md-offset-4'>"+
                        "<button type='button' class='btn btn-round btn-success' id='btnRecall' >Recall</button>" +
                        "<button type='button' class='btn btn-round btn-default' id='btnCancel1' >Cancel</button>" +
                    "</div>"+
                "</div>"+
            "</form>"
        );
        });
    }).GetHtml()
