
@using Data.Entities
@using Data.Utilities
@using DevExpress.XtraExport.Helpers
@model  IList<Data.Entities.Asset>

@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
    ViewBag.Title = "Requests Detail";
}

@{
    var userSession = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionType = ExtensionType.PopupControl }
    )

<link href="~/Content/SweetAlert/SweetAlert.css" rel="stylesheet" />
<script src="~/Scripts/app/sweetalert.min.js"></script>
<script src="~/Scripts/app/sweetalert.js"></script>
<link href="~/Content/Asset/AssetInStock.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Available Assets</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    @Html.Partial("_AssetsInStockPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<div id="assignPopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Assign Asset</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-label-left input_mask">
                        <input type="hidden" class="form-control" readonly id="assetId">
                        <input type="hidden" class="form-control" readonly id="staffAssign" value="@userSession.FullName">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Barcode: </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" class="form-control" readonly id="barcode">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Asset Name: </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" class="form-control" readonly id="assetName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Select Employee:<span class="required">*</span> </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                @Html.Action("LoadDataCbb")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <a id="errorMessage"></a>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-8 col-sm-9 col-xs-12 col-md-offset-4">
                                <button type="button" class="btn btn-round btn-success" id="btnAssign">Assign</button>
                                <button type="button" class="btn btn-round btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="depreciatePopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Enter Detail Information</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-label-left input_mask" id="descriptionForm">
                        <input type="hidden" class="form-control" readonly id="assetId2">
                        
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Asset Name:</label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" class="form-control" readonly id="assetName2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Barcode: <span class="required">*</span></label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" class="form-control" id="barcodeInput" maxlength="20">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Months Of Depreciation: <span class="required">*</span></label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="number" class="form-control" min="0" max="84" maxlength="5" id="depreciation">
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <a id="message"></a>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-8 col-sm-9 col-xs-12 col-md-offset-5">
                                <button type="button" class="btn btn-round btn-success" id="btnOK">OK</button>
                                <button type="button" class="btn btn-round btn-default" data-dismiss="modal" id="btnCancel2">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/AssetInStock.js"></script>