
@using Data.Entities
@using Data.Utilities
@using DevExpress.XtraExport.Helpers
@model  IList<Data.Entities.Asset>

@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@{
    var userSession = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionType = ExtensionType.PopupControl }
    )

<script src="~/Scripts/app/manage-asset.js"></script>
<link href="~/Content/ManageAsset/manage-asset.css" rel="stylesheet" />


@Html.Partial("_AssetsInStockPartial", Model);


@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "AssignPopup";
        settings.Width = 500;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Assign Asset";
        settings.Modal = true;
        settings.AutoUpdatePosition = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write(

                "<form class='form-horizontal form-label-left input_mask'>" +
                "<input type='hidden' class='form-control' readonly id='assetId2'>" +
//                "<input type='hidden' class='form-control' readonly id='staffAssign' value='@userSession.FullName'>" +

                "<div class='form-group'>" +
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Barcode: </label>" +
                    "<div class='col-md-8 col-sm-9 col-xs-12'>" +
                    "<input type='text' class='form-control' readonly id='barcode2' style='Width:97%' >" +
                    "</div>" +
                "</div>" +

                "<div class='form-group'>" +
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Asset Name: </label>" +
                    "<div class='col-md-8 col-sm-9 col-xs-12'>" +
                    "<input type='text' class='form-control' readonly id='assetName2' style='Width:97%' >" +
                    "</div>" +
                "</div>" +

                "<div class='form-group'>"+
                    "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Remark: </label>" +
                    "<div class='col-md-8 col-sm-9 col-xs-12'>"+
                    "<textarea class='form-control' id='assignRemark' style='Width:97%'></textarea>" +
                    "</div>"+
                "</div>"+

                "<div class='form-group'>" +
                "<label class='control-label col-md-4 col-sm-3 col-xs-12'>Select Employee:<span class='required'>*</span> </label>" +
                "<div class='col-md-8 col-sm-9 col-xs-12'>"
                );
            @Html.RenderAction("LoadDataCbb");
            ViewContext.Writer.Write(
                "</div>"+
                "</div>"+
                "<p class='col-md-offset-4' id='message2'><p>" +
                "<div class='ln_solid'></div>" +
                "<div class='form-group'>"+
                "<div class='col-md-8 col-sm-9 col-xs-12 col-md-offset-4'>"+
                "<button type='button' class='btn btn-round btn-success' id='btnAssign' >Assign</button>" +
                "<button type='button' class='btn btn-round btn-default' id='btnCancel2' >Cancel</button>" +
                "</div>"+
                "</div>"+
                "</form>"
                );
        });
    }).GetHtml()
