@model IList<Data.Entities.Asset>
@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'EmployeeImage;EmployeeName;EmployeeEmail;EmployeeAddress;EmployeeJob;EmployeePhone;EmployeeBirthdate;AssetImage;AssetName;AssetDescription;AssetBrand;AssetCategory', OnGetRowValues);
    }
    //AssetImage; AssetName; AssetDescription; AssetBrand; AssetCategory
    function OnGetRowValues(values) {
        EmployeeImage.SetImageUrl("/Image/" + values[0]);
        EmployeeName.SetText(values[1]);
        EmployeeEmail.SetText(values[2]);
        EmployeeAddress.SetText(values[3]);
        EmployeeJob.SetText(values[4]);
        EmployeePhone.SetText(values[5]);
        EmployeeBirthdate.SetText(values[6]);

        AssetImage.SetImageUrl("/Image/Categories/" + values[7]);
        AssetName.SetText(values[8]);
        AssetDescription.SetText(values[9]);
        AssetBrand.SetText(values[10]);
        AssetCategory.SetText(values[11]);

    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @Html.Action("GetAssets")
        </div>

        <div class="col-md-6">
            <div class="row">

                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td rowspan="4" style="width: 159px">
                            @Html.DevExpress().Image(settings =>
                            {
                                settings.Name = "EmployeeImage";
                                settings.Width = 160;
                                settings.Height = 170;
                                settings.ControlStyle.CssClass = "image";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                        <th colspan="4" style="text-align: center">Owner Details</th>
                    </tr>
                    <tr>
                        <th>Full Name</th>
                        <td>
                            @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "EmployeeName";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                        <th>Job Title</th>
                        <td>
                            @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "EmployeeJob";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "EmployeeAddress";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                        <th>Date of Birth</th>
                        <td>
                            @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "EmployeeBirthdate";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>
                            @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "EmployeePhone";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                        <th>Email</th>
                        <td>
                            @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "EmployeeEmail";
                                settings.Properties.EnableClientSideAPI = true;
                            }).GetHtml()
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            @* Asset Detail *@

            <div class="row">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="4">
                                @Html.DevExpress().Image(settings =>
                                {
                                    settings.Name = "AssetImage";
                                    settings.Width = 160;
                                    settings.Height = 170;
                                    settings.ControlStyle.CssClass = "image";
                                    settings.Properties.EnableClientSideAPI = true;
                                }).GetHtml()
                            </td>
                        <th colspan="4" style="text-align: center">Asset Details</th>
                    </tr>
                    <tr>
                            <th>Name</th>
                            <td>
                                @Html.DevExpress().Label(settings =>
                                {
                                    settings.Name = "AssetName";
                                    settings.Properties.EnableClientSideAPI = true;
                                }).GetHtml()
                            </td>
                            <th>Brand</th>
                            <td>
                                @Html.DevExpress().Label(settings =>
                                {
                                    settings.Name = "AssetBrand";
                                    settings.Properties.EnableClientSideAPI = true;
                                }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td colspan="3">
                                @Html.DevExpress().Label(settings =>
                                {
                                    settings.Name = "AssetDescription";
                                    settings.Properties.EnableClientSideAPI = true;
                                }).GetHtml()
                            </td>

                        </tr>
                        <tr>
                            <th>Asset Type</th>
                            <td>
                                @Html.DevExpress().Label(settings =>
                                {
                                    settings.Name = "AssetCategory";
                                    settings.Properties.EnableClientSideAPI = true;
                                }).GetHtml()
                            </td>
                            <th>Nothing</th>
                            <td>
                                nothing
                            </td>
                        </tr>                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



