@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
    ViewBag.Title = "Requests Detail";
}

<link href="~/Content/User/AssetDetail.css" rel="stylesheet" />

@model IList<Data.Entities.Asset>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="title"><b>Current Assets</b></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="clearfix"></div>
                @foreach (var asset in Model)
                {
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="test well profile_view">

                            <div class="col-sm-12">
                                <a id="asset-name" class="btn btn-round btn-success"><i class="fa fa-tags"></i> @asset.AssetName</a>
                                <div class="ln_solid"></div>

                                <div class="left col-xs-7">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-barcode"></i> Barcode: <b> @asset.Barcode</b></li>
                                        <li><i class="fa fa-square"></i> Brand: <b>@asset.AssetBrand </b></li>
                                        <li><i class="fa fa-calendar"></i> Warranty: <b>@asset.Warranty months </b></li>
                                    </ul>
                                </div>
                                
                                <div class="right col-xs-1">
                                </div>
                                
                                <div class="right col-xs-4 text-center">
                                    <img src="/Image/Categories/@asset.AssetImage" alt="" class="img-circle img-responsive">
                                </div>
                            </div>

                            <div class="assign-date col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-12 emphasis">
                                    <p class="ratings">
                                        <small>Assigned on <i>@asset.CheckinDate</i> by <i>@asset.StaffAssign</i></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>