@using Data.Entities
@using Data.Utilities
@model IList<Data.Entities.PoRequest>
@{
    Layout = "~/Views/Shared/_Layouts.cshtml";
    ViewBag.Title = "Tracking Requests";
}

@{
    var userSerssion = (Employee)SessionHelper.GetSessionValue(Constant.UserSession);
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

<link href="~/Content/SweetAlert/SweetAlert.css" rel="stylesheet" />
<script src="~/Scripts/app/sweetalert.min.js"></script>
<script src="~/Scripts/app/sweetalert.js"></script>

<link href="~/Content/User/RequestsHistory.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Requests History</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table style="width:100%">

                        <tr>
                            <td style="vertical-align: top; min-width: 110px">
                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                    <div style="padding-right: 15px;">
                                        <!-- Profile Card -->
                                        <figure class="snip1515">
                                            <div class="profile-image "><img class="img-circle img-responsive" src="~/Image/@userSerssion.Image" alt="sample47" /></div>
                                            <figcaption>
                                                <h3>@userSerssion.FullName</h3>
                                                <h4>@userSerssion.JobTitle</h4>
                                                <ul class="list-unstyled user_data">
                                                    <li>
                                                        <i class="fa fa-map-marker"></i> @userSerssion.Address
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-mobile"></i> @userSerssion.Phone
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-envelope"></i> @userSerssion.Email
                                                    </li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                        <!-- End Profile Card -->
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align: top">
                                <div class="col-md-12 col-sm-12 col-xs-12 profile_left">
                                    @Html.Action("GetRequestHistoryPartial", new { employeeId = ViewBag.EmployeeId })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

